{% extends "store/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container d-flex justify-content-center mb-4">
    <!-- Alerts -->
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success! </strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <!-- END Alerts -->

    <div class="col-lg-8 col-sm mb-5 mt-5 p-4 pb-0 border">
        <div class="mb-3 border-bottom" > <h5><i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>Password Reset Email Sent</h5> </div>
        <div class="pl-3 pr-3 pb-3">
            <div class="text-left form-sm mt-3">
                <p>
                    <small>We've emailed you instructions for setting your password, if an account exist with the email you provided. You should reciew them shortly.
                    If you don't receive an email, Please make sure you entered the email address you registered with, and check your spam folder.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}