{% extends "store/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container d-flex justify-content-center mb-4">
    <!-- Alerts -->
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success! </strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <!-- END Alerts -->

    <div class="col-lg-6 col-sm mb-3 mt-3 p-4 pb-0 border">
        <div class="mb-3"> <h5><i class="fa fa-key mr-2" aria-hidden="true"></i>Password Reset</h5> </div>
        <div class="pl-3 pr-3 pb-3">
            <div class="text-left form-sm mt-3">
                    <p>
                        <small>
                            Forgotten your password? Enter your email address and we'll email instructions for setting new one
                        </small>
                    </p>
                </div>
            <form class="needs-validation" action="" method="post" novalidate>
            {% csrf_token %}
                {% for field in form %}
                    <label>{{ field.label }}</label>
                    {% if field.errors %}
                        {% render_field field class="form-control form-control-sm is-invalid"password_reset_form.html %}
                        {% if field.name == 'username' or 'password1' %}
                            <small>
                                {{ field.help_text }}
                            </small>
                        {% endif %}
                        <div class="invalid-tooltip d-block float-right" data-placement="bottom">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                        </div>
                    {% elif registration_form.is_bound %}
                        {% render_field field class="form-control form-control-sm is-valid" %}
                    {% else %}
                        {% render_field field class="form-control form-control-sm" %}
                    {% endif %}
                {% endfor %}

                <div class="text-right form-sm mt-3">
                    <button type="submit" class="btn btn-success">Reset My Password <i class="fa fa-envelope-o" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}