{% extends "store/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mb-0">

    <div class="row ml-0 d-flex justify-content-center">
        <!-- Summary of profile details -->
        <div class="col-sm col-lg-3 profile-summary text-center  p-3 mt-3 mr-3 mb-5">
            <img class="rounded-circle profile-pic" id="frame" src="{{ user_details.customer.profile_pic.url }}">
            <i class="fa fa-pencil-square-o fa-2x upload-icon" aria-hidden="true"></i>

            <h2>{{ user_details.first_name }} {{ user_details.last_name }}</h2>
            <hr>
            <div class="text-left">
              <div class="align-me">
                  <p><strong>Username</strong> <span>{{ user_details.username }}</span></p>
                  <p><strong>First Name</strong> <span>{{ user_details.first_name }}</span></p>
                  <p><strong>Last Name</strong> <span>{{ user_details.last_name }}</span></p>
                  <p><strong>Email</strong> <span>{{ user_details.email  }}</span></p>
                  <p><strong>Address</strong> <span>{{ user_details.customer.address }},<br> {{ user_details.customer.city }}<br> {{ user_details.customer.state }} <br> {{ user_details.customer.zipcode }}</span></p>
              </div>
            </div>
        </div>

        <!-- Change profile details -->
        <div class="col-sm col-lg-6 mt-3 mb-5 self-align-center">
            <h5>ACCOUNT INFORMATION</h5>

            <form class="needs-validation mt-3"  method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <!-- file upload -->
                <div class="file-field mb-2">
                    <span class="d-none">
                        {{ customer_form.profile_pic }}
                    </span>
                </div>

                <div class="col-md mb-3">
                    <label>{{ user_form.first_name.label }}</label>
                    {% if user_form.first_name.errors %}
                      {% render_field user_form.first_name class="form-control is-invalid" %}

                      <div class="invalid-tooltip d-block float-right" data-placement="bottom">
                        {% for error in user_form.first_name.errors %}
                            {{ error }}
                        {% endfor %}
                      </div>
                    {% else %}
                        {% render_field user_form.first_name class="form-control" %}
                    {% endif %}
                </div>
                <div class="col-md mb-3">
                    <label>{{ user_form.last_name.label }}</label>
                    {% if user_form.last_name.errors %}
                      {% render_field user_form.last_name class="form-control is-invalid" %}

                      <div class="invalid-tooltip d-block float-right" data-placement="bottom">
                        {% for error in user_form.last_name.errors %}
                            {{ error }}
                        {% endfor %}
                      </div>
                    {% else %}
                      {% render_field user_form.last_name class="form-control" %}
                    {% endif %}
                </div>

                <div class="col-md mb-3">
                    <label>{{ customer_form.address.label }}</label>
                    {% if customer_form.address.errors %}
                      {% render_field customer_form.address class="form-control is-invalid" %}

                      <div class="invalid-tooltip d-block float-right" data-placement="bottom">
                        {% for error in customer_form.address.errors %}
                            {{ error }}
                        {% endfor %}
                      </div>
                    {% else %}
                      {% render_field customer_form.address class="form-control" %}
                    {% endif %}
                </div>
                <div class="form-row ml-2">
                    <div class="col-md-4 mb-3">
                        <label>{{ customer_form.city.label }}</label>
                        {% if customer_form.city.errors %}
                          {% render_field customer_form.city class="form-control is-invalid" %}
                          <div class="invalid-tooltip d-block float-right" data-placement="bottom">
                            {% for error in customer_form.city.errors %}
                              {{ error }}
                            {% endfor %}
                          </div>
                        {% else %}
                          {% render_field customer_form.city class="form-control" %}
                        {% endif %}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>{{ customer_form.state.label }}</label>
                        {% if customer_form.state.errors %}
                          {% render_field customer_form.state class="form-control is-invalid" %}
                          <div class="invalid-tooltip d-block float-right" data-placement="bottom">
                            {% for error in customer_form.state.errors %}
                              {{ error }}
                            {% endfor %}
                          </div>
                        {% else %}
                          {% render_field customer_form.state class="form-control" %}
                        {% endif %}
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>{{ customer_form.zipcode.label }}</label>
                        {% if customer_form.zipcode.errors %}
                          {% render_field customer_form.zipcode class="form-control is-invalid" %}
                          <div class="invalid-tooltip d-block float-right" data-placement="bottom">
                            {% for error in customer_form.zipcode.errors %}
                              {{ error }}
                            {% endfor %}
                          </div>
                        {% else %}
                          {% render_field customer_form.zipcode class="form-control" %}
                        {% endif %}
                    </div>
                </div>
                <h5 class="mt-2">CHANGE PASSWORD</h5>
                <hr>
                <div class="col-md mb-3">
                    {% for field in password_form %}
                        <label>{{ field.label }}</label>
                        {% if password_form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="form-control form-control-sm is-invalid" %}
                                <small>
                                    {{ field.help_text }}
                                </small>
                                <div class="invalid-tooltip d-block float-right" data-placement="bottom">
                                  {% for error in field.errors %}
                                    {{ error }}
                                  {% endfor %}
                                </div>
                            {% else %}
                              {% render_field field class="form-control form-control-sm is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control form-control-sm" %}
                        {% endif %}
                    {% endfor %}
                </div>

                <button class="btn btn-success float-right mt-3" type="submit">Save Changes</button>
              </form>
        </div>
        <!-- related links to profile -->
        <div class="col-sm col-lg  related-links mr-3 mb-3 pt-3 pl-0 pr-0">
            <div class="related-links border">
                <div class="related-content-heading">
                    <h4 class="ml-3">Account</h4>
                </div>

                <div class="related-content">
                    <ul>
                        <li>
                            <a href="/profile">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="/order_history">
                                <i class="fa fa-history" aria-hidden="true"></i>
                                Order History
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Wish List
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                My Reviews
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                                My Coupons
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/profile.js' %}"></script>

{% endblock content %}