{% extends 'store/main.html' %}
{% load static %}
{% block content %}



<!-- Jumatron -->
  <section>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8">
            <h1 class="display-5 text-center">Sushi Chef <span class="promo">Menu</span></h1>
            <blockquote class="blockquote text-center">
              <p class="mb-0 lead">Sushi is not really about flavor as much as texture. Everything is usually made bite-size so you can eat it in one bite, which is more proper.Prepared fresh with care by our chefs, our products offer great flavour and superior freshness. Our popular Poke Bowls, Sushi Tacos, Blossom and Temari Collections are just among a wide selection of unique creations available for take-out or delivery.</p>
              <footer class="blockquote-footer">Sushi <cite title="Source Title">Lover</cite></footer>
            </blockquote>
          </div>
          <div class="col-12 col-sm d-none d-sm-block">
            <img src="{% static 'images/staticimg/chopsticks.png' %}">
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- END - Jumbatron -->

  <!-- Shopping gallery -->
  <div class="container mb-4">
    <div id="shoppingGal" class="">
      <div class="row">
      {% for product in products.all %}

        <!-- product 1 -->
        <div class="col-md-6 col-lg-3 mb-5">
          <div class="product">
            <a href="/product/{{ product.id }}" class="product-link">
              <img src="{{ product.main_image.0.image.url }}" class="img-fluid mt-3">
              {% if product.discount != 0 %}
              <span class="bonus">{{ product.discount }}% off</span>
              {% endif %}
            </a>
            <!-- Description and price-->
            <div class="product-desc text-center border border-top-0 pb-3">
              <h3><a href="/product/{{ product.id }}">{{ product.name }}</a></h3>
              <div class="p-desc">
                <p class="mb-0">
                  {{ product.desc }}
                </p>
              </div>
              <!-- Star rating -->
              <span class="star-rating">
                {% for i in five_star %}
                  {% if i < product.get_avg_rating.1 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                  {% elif i == product.get_avg_rating.1 %}
                    {% if product.get_avg_rating.0 > product.get_avg_rating.1 %}
                      <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    {% endif %}
                  {% else %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  {% endif %}
                {% endfor %}
              </span>
              <!-- Price -->
              <div class="d-flex justify-content-center">
                <div class="pricing">
                  <p>
                    {% if product.discount != 0 %}
                      <span><del>
                        ${{ product.price }}
                      </del></span>
                      <span class="price-actual">${{ product.get_sale_price|floatformat:2 }}</span>
                    {% else %}
                      <span class="price-actual">${{ product.price }}</span>
                    {% endif %}
                  </p>
                </div>
              </div>
              <!-- cart icons -->
              <div class="d-flex justify-content-center">
                <div class="d-flex cart-options">
                  <a href="#">
                    <span class="rounded-circle mr-1 h5">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a href="#" data-action="add" class="update-cart"
                     data-product="{{ product.id }}_{{ product.get_sale_price|floatformat:2 }}" >
                    <span class="rounded-circle mr-1 h5">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a href="#" class="addto-wish" data-product="{{ product.id }}">
                    <span class="rounded-circle h5">
                      {% if product.id in wishes %}
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      {% else %}
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                      {% endif %}
                    </span>
                  </a>
                </div>
              </div>
              <!-- END-cart icon-->
            </div>
            <!-- END-Description and price -->
          </div>
        </div>
        <!-- END-Product-->

       {% endfor %}

      </div>
    </div>
  </div>
  <!-- END-Shopping gallery -->
<script src="{% static 'js/cart.js' %}"></script>

{% endblock content %}