{% extends "store/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% load store_tags %}
{% block content %}

<div class="container mb-0">

    <div class="row ml-0 d-flex justify-content-center">

        <div class="col-sm col-lg-9 order-history p-3 mt-3 mr-3 mb-5">
            <caption><h4 class="mb-4">Order History</h4></caption>
            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Order Id</th>
                      <th scope="col">Placed By</th>
                      <th scope="col">No. of Dishes</th>
                      <th scope="col">Total</th>
                      <th scope="col">Date</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <td scope="col">#{{ order.id }}</td>
                      <td scope="col">{{ order.customer }}</td>
                      <td scope="col">{{ order.ordered_products|length }}</td>
                      <td scope="col">${{ order.total }}</td>
                      <td scope="col">{{ order.date }}</td>
                      <td>
                          <a href="order/{{ order.id }}">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                      </td>
                    </tr>
                    {% empty %}
                       <div class="alert-warning rounded p-3" role="alert">
                          No Order History found!
                       </div>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>


        <!-- related links to profile -->
        <div class="col-sm col-lg  related-links mr-3 mb-3 pt-3 pl-0 pr-0">
            <div class="related-links border">
                <div class="related-content-heading">
                    <h4 class="ml-3">Account</h4>
                </div>

                <div class="related-content">
                    <ul>
                        <li>
                            <a href="/profile">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="/order_history">
                                <i class="fa fa-history" aria-hidden="true"></i>
                                Order History
                            </a>
                        </li>
                        <li>
                            <a href="/wishlist">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Wish List
                            </a>
                        </li>
                        <li>
                            <a href="/my_reviews">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                My Reviews
                            </a>
                        </li>
                        <li>
                            <a href="my_coupons">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                                My Coupons
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}