{% extends "store/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% load store_tags %}
{% block content %}

<div class="container mb-0">

    <div class="row ml-0 d-flex justify-content-center">

        <div class="col-sm col-lg-9 order-summary p-3 mt-3 mr-3">
            <caption><h4 class="mb-4">Order #{{ order_detail.0.id }}</h4></caption>
            <div class="table-responsive">
              <table class="table table-bordered">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" colspan="2">Order Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="col">
                          <strong>Order Id:</strong> #{{ order_detail.0.id }}<br>
                          <strong>Date:</strong> {{ order_detail.0.date }}<br>
                          <strong>Total:</strong> $ {{ order_detail.0.total }}
                          <p class="mt-1 mb-0">
                              <b>Payment details:</b><br> {{ order_detail.0.payment_method|capfirst }}<br>
                              {% if order_detail.0.payment_method == 'payhere' %}
                              <div class="payhere-order-summary ml-2">
                                    Currency: {{ payment_detail.payhere_currency }}<br>
                                    Method: {{ payment_detail.method }}<br>
                                    Card Holder: {{ payment_detail.card_holder_name }}<br>
                                    Card No: {{ payment_detail.card_no }}<br>
                              </div>
                              {% endif %}
                          </p>
                      </td>
                      <td scope="col">
                          <strong>Delivery Address:</strong><br>
                          {{ order_detail.0.address }},<br>
                          {{ order_detail.0.city }},<br>
                          {{ order_detail.0.state }},<br>
                          {{ order_detail.0.zipcode }}
                      </td>
                    </tr>
                  </tbody>
              </table>

              <!-- ordered items -->
              <table class="table table-bordered ordered-items">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Dish Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Unit Price</th>
                      <th scope="col" >Offers</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dish in order_detail.0.ordered_products %}
                    <tr>
                      <td scope="col" id="p_name">
                          <a href="{% url 'product' dish.the_product.id %} ">
                            {{ dish.product }}
                          </a>
                      </td>
                      <td scope="col">{{ dish.quantity }}</td>
                      <td scope="col">$ {{ dish.the_product.price }}</td>
                      <td scope="col"> {{ dish.offer }}% off</td>
                      <td scope="col">$ {{ dish.paid }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><strong>Sub-Total</strong></td>
                        <td>
                            $ {{ order_summary.subtotal }} <br>
                        </td>
                    </tr>

                    {% if order_detail.0.coupon is not None %}
                    <tr>
                        <td colspan="4"><strong>Coupon Discount</strong></td>
                        <td>
                            -$ {{ order_summary.coupon_discount|floatformat:2 }}
                        </td>

                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="4"><strong>Delivery</strong></td>
                        <td> $ {{ order_detail.0.delivery }}</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>Total</strong></td>
                        <td> $ {{ order_summary.total|floatformat:2 }}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>


        <!-- related links to profile -->
        <div class="col-sm col-lg  related-links mr-3 mb-3 pt-3 pl-0 pr-0">
            <div class="related-links border">
                <div class="related-content-heading">
                    <h4 class="ml-3">Account</h4>
                </div>

                <div class="related-content">
                    <ul>
                        <li>
                            <a href="/profile">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="/order_history">
                                <i class="fa fa-history" aria-hidden="true"></i>
                                Order History
                            </a>
                        </li>
                        <li>
                            <a href="/wishlist">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Wish List
                            </a>
                        </li>
                        <li>
                            <a href="/my_reviews">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                My Reviews
                            </a>
                        </li>
                        <li>
                            <a href="my_coupons">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                                My Coupons
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}