{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <!-- Jumatron -->
  <section>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8">
            <h1 class="display-5 text-center">Sushi Chef <span class="promo">Promotions</span></h1>
            <blockquote class="blockquote text-center">
              <p class="mb-0 lead">Sushi is not really about flavor as much as texture. Everything is usually made bite-size so you can eat it in one bite, which is more proper.Prepared fresh with care by our chefs, our products offer great flavour and superior freshness. Our popular Poke Bowls, Sushi Tacos, Blossom and Temari Collections are just among a wide selection of unique creations available for take-out or delivery.</p>
              <footer class="blockquote-footer">Sushi <cite title="Source Title">Lover</cite></footer>
            </blockquote>
          </div>
          <div class="col-12 col-sm d-none d-sm-block">
            <img src="{% static 'images/staticimg/chopsticks.png' %}">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END - Jumbatron -->
  <!-- promotions -->
  <div class="container" id="promo">
    <!-- promo 1 -->
    <div class="row mb-5 promo-col-limit">
      <!-- promo 1 -->

      {% for promo in promos %}
        <div class="col-lg border">
          <div class="card mb-3">
            <div class="row no-gutters">
              <!-- product img -->
              <div class="col-md-4 mt-3">
                <img src="{{ promo.main_image.0.image.url }}" class="card-img " alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title mt-0">{{ promo.name}}
                    <span class="badge badge-danger me-1">{{ promo.discount }}% off</span>
                  </h2>
                  <div class="row">
                    <div class="col col-sm-8 desc">
                      <p class="card-text">
                        {{ promo.desc }}
                      </p>

                    </div>
                    <div class="col col-sm align-self-center text-center border-left" id="containerinfo">
                      <a href="/product/{{ promo.id }}" type="button" class="btn btn-primary"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>more info</a>
                    </div>
                    <div class="updated-on">
                      <p class="card-text"><small class="text-muted">Last updated: {{ promo.updated_on }}</small></p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>

  </div>
  <!-- END - promotions -->

{% endblock content %}