{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <!-- Jumatron -->
  <section>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8">
            <h1 class="display-5 text-center">Sushi Chef <span class="promo">Promotions</span></h1>
            <blockquote class="blockquote text-center">
              <p class="mb-0 lead">Sushi is not really about flavor as much as texture. Everything is usually made bite-size so you can eat it in one bite, which is more proper.Prepared fresh with care by our chefs, our products offer great flavour and superior freshness. Our popular Poke Bowls, Sushi Tacos, Blossom and Temari Collections are just among a wide selection of unique creations available for take-out or delivery.</p>
              <footer class="blockquote-footer">Sushi <cite title="Source Title">Lover</cite></footer>
            </blockquote>
          </div>
          <div class="col-12 col-sm d-none d-sm-block">
            <img src="{% static 'images/staticimg/chopsticks.png' %}">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END - Jumbatron -->
  <!-- promotions -->
  <div class="container" id="promo">
    <div class="row">
      {% for promo in promos %}
      <div class="col-md-6">
        <div class="col-md border mb-4">
          <div class="card flex-md-row mb-2 box-shadow h-md-250">
            <img class="card-img-right flex-auto promo-img mt-3" src="{{ promo.main_image.0.image.url }}" width="150px" height="150px" alt="Card image cap">
            <div class="card-body d-flex flex-column align-items-start">
              <h2>
                {{ promo.name }}
                <span class="badge badge-danger me-1">{{ promo.discount }}% off</span>
              </h2>
              <div class="updated-on text-center">
                <p class="card-text"><small class="text-muted"> {{ promo.updated_on }}</small></p>
              </div>
              <p class="card-text mb-auto">
                {{ promo.desc }}
              </p>
            </div>
            <div class="align-self-end border-left">
              <a href="/product/{{ promo.id }}" type="button" class="btn btn-primary p-3 ml-3"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>more info</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- END - promotions -->

{% endblock content %}