{% extends "store/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% load tz %}
{% block content %}

<div class="container mb-0">
    <caption><h4 class="mt-4">My Reviews</h4></caption>
    <div class="row ml-0 d-flex justify-content-center">
      <div class="col-sm col-lg-9 order-history p-3 mr-3 mb-5">
        <div class="row mt-0" id="reviews">
            <div class="col-md col-lg">
              <!-- Review tabs -->
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Dishes</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">Chefs </a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane active fade show  mt-2" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  {% for dish_review in dish_reviews %}
                    <!-- Review -->
                    <div class="row mt-3 mb-3 border-bottom pb-3">
                      <div class="col-md-10 col-lg-3 text-center">
                        <img src="{{ dish_review.reviewed_dish.main_image.0.image.url }}" class="img-thumbnail rounded-circle review-pic">
                        <small>{{ dish_review.reviewed_dish.name }}</small>
                      </div>
                      <div class="col-md-10 col-lg">
                        <p class="review-desc">
                          {{ dish_review.review }}
                        </p>
                        <!-- Star rating -->
                        <span class="star-rating rev-rating">
                          {% for i in five_star %}
                            {% if i < dish_review.rating %}
                              <i class="fa fa-star" aria-hidden="true"></i>
                            {% else %}
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                            {% endif %}
                          {% endfor %}
                        </span>
                        <span class="review-date">{{ dish_review.date }} </span>
                      </div>
                      <div class="col-md-2 justify-content-end my-review-action">
                          <form method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="delete_dish_review" value="{{ dish_review.id }}">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                      </div>
                    </div>
                    <!-- End of review -->
                  {% empty %}
                   <div class="alert-warning rounded p-3" role="alert">
                      No Dish Review record found!
                   </div>

                  {% endfor %}
                </div>
                <!-- Chef Reviews -->
                <div class="tab-pane border-bottom mt-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  {% for chef_review in chef_reviews %}
                    <!-- Review -->
                    <div class="row mt-3 mb-3 border-bottom pb-3">
                      <div class="col-md col-lg-3 text-center">
                        <img src="{{ chef_review.reviewed_chef.image.url }}" class="img-thumbnail rounded-circle review-pic">
                        <small>{{ chef_review.reviewed_chef.name }}</small>
                      </div>
                      <div class="col-md col-lg">
                        <p class="review-desc">
                          {{ chef_review.review }}
                        </p>
                        <!-- Star rating -->
                        <span class="star-rating rev-rating">
                          {% for i in five_star %}
                            {% if i < chef_review.rating %}
                              <i class="fa fa-star" aria-hidden="true"></i>
                            {% else %}
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                            {% endif %}
                          {% endfor %}
                        </span>
                        <span class="review-date">{{ chef_review.date|localtime }} </span>
                      </div>
                      <div class="col-md-2 justify-content-end my-review-action">
                          <form method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="delete_chef_review" value="{{ dish_review.id }}">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                      </div>
                    </div>
                    <!-- End of review -->
                    {% empty %}
                   <div class="alert-warning rounded p-3" role="alert">
                      No Chef Review record found!
                   </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
      </div>


        <!-- related links to profile -->
        <div class="col-sm col-lg  related-links mr-3 mb-3 pt-3 pl-0 pr-0">
            <div class="related-links border">
                <div class="related-content-heading">
                    <h4 class="ml-3">Account</h4>
                </div>

                <div class="related-content">
                    <ul>
                        <li>
                            <a href="/profile">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="/order_history">
                                <i class="fa fa-history" aria-hidden="true"></i>
                                Order History
                            </a>
                        </li>
                        <li>
                            <a href="/wishlist">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Wish List
                            </a>
                        </li>
                        <li>
                            <a href="my_reviews">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                My Reviews
                            </a>
                        </li>
                        <li>
                            <a href="/my_reviews">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                                My Coupons
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/cart.js' %}"></script>
{% endblock content %}