{% extends "store/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mb-0">

    <div class="row ml-0 d-flex justify-content-center">

        <div class="col-sm col-lg-9 order-history p-3 mt-3 mr-3 mb-5">
            <caption>
                <h4 class="mb-4"><i class="fa fa-heart mr-2" aria-hidden="true"></i>Wish List</h4>
            </caption>
            <div class="table-responsive">
              {% if wishes %}
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Dish Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Offers</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for wish in wishes %}
                    <tr>
                      <td scope="col" class="text-center">
                          <a href="/product/{{ wish.wished_dish.id }}" class="wishes">
                            <img src="{{ wish.wished_dish.main_image.0.image.url }}" width="70px" height="70px">
                          </a>
                      </td>
                      <td scope="col">
                          <a href="/product/{{ wish.wished_dish.id }}" class="wishes">
                            <h6>{{ wish.wished_dish.name }}</h6>
                            {{ wish.wished_dish.desc|truncatewords:8 }}
                          </a>

                      </td>
                      <td scope="col">$ {{ wish.wished_dish.price }} </td>
                      <td scope="col"> {{ wish.wished_dish.discount }}% off </td>
                      <td scope="col" class="text-center">
                        <form method="post">
                            <button class="btn btn-success update-cart" data-action="add" data-product="{{ wish.wished_dish.id }}_{{ wish.wished_dish.get_sale_price|floatformat:2 }}">
                                <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                            </button>

                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="delete_items" value="{{ wish.wished_dish.id }}">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
              {% else %}
                   <div class="alert-warning rounded p-3" role="alert">
                      Your Wish List is empty!
                   </div>
              {% endif %}

            </div>
        </div>


        <!-- related links to profile -->
        <div class="col-sm col-lg  related-links mr-3 mb-3 pt-3 pl-0 pr-0">
            <div class="related-links border">
                <div class="related-content-heading">
                    <h4 class="ml-3">Account</h4>
                </div>

                <div class="related-content">
                    <ul>
                        <li>
                            <a href="/profile">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="/order_history">
                                <i class="fa fa-history" aria-hidden="true"></i>
                                Order History
                            </a>
                        </li>
                        <li>
                            <a href="/wishlist">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Wish List
                            </a>
                        </li>
                        <li>
                            <a href="my_reviews">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                My Reviews
                            </a>
                        </li>
                        <li>
                            <a href="/my_reviews">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                                My Coupons
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/cart.js' %}"></script>
{% endblock content %}