/* --- logo ---*/
#site-logo {
    padding: 22px 22px 10px;
    background: #f17661;
    display: inline-block;
}

/* --- navbar icons ---*/
#navIcons a{
    color: #fff;
}

.fa-facebook:hover {
    color: #8b9dc3;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-instagram:hover {
    color: #E1306C;
}

.sticky-cart-icon {
    font-size: 1.2rem;
    color: #d8d8d8d;
}

.cart-badge {
    padding: 2px 5px 2px 5px;
    font-size: 15px;
}

/* --- dropdown hover ---*/

#added-to-cart {
    position: fixed;
    z-index: 999;
    top: 80px;
    right: 0;
    width: 100%;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
/*      ---         */

.profile-link {
    color: #280000 ;
    font-size: large;
    font-weight: bold;
}

.profile-link:hover {
    text-decoration: none;
    color: #f17661;
    text-shadow: 1px 1px 1px #989898;
}


.navbar-dark {
    background-color: #1a1a1a;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar .btn-outline-success {
    background-color:  #fff;
    border-color: #f17661;
    color: #f17661;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .btn-outline-success:focus {
  box-shadow: 0 0 0 0.1rem #f17661;
}

.navbar .btn-outline-success:active {
  box-shadow: 0 0 0 0.2rem #f17661;

}

.navbar .btn-outline-success:hover {
    background-color:  #f17661;
    border-color: #f17661;
    color: #fff;
}

.dropdown-menu > a:hover {
    background-color: #f0f0f0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f17661;
}

.model label {
    position: absolute;
}

/*
 * --- carousel ---
 */
.carousel {
    background-color: #000000;
}

.carousel .carousel-item {
    height: 500px;
}

@media screen and (min-width: 700px) {
    .carousel-caption {
        position: absolute;
        left: auto;
        right: auto;
        width: 50%;
        top: 25%;
        right:0;
        z-index: 0;
    }

    #sushi {
        left: 20vh;
        top: 30vh;
    }
  }

.carousel-caption {
    position: absolute;
    z-index: 1;
}


.carousel .carousel-item img {
    position: absolute;
    
    }

    #sushi {
        z-index: 1;
        top: 20vh;
   
    }
    
.carousel-caption > h1 {
    font-size: 10vh;
}

.carousel-caption > h4,h5 {
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
}
.carousel-caption > p {
    font-size: x-small;
}
.carousel-caption > h1 > span {
    color: #f17661;
}

.carousel-caption > .btn-outline-primary,a {
    border-color: #fff;
    color: #fff;;
}

.carousel-caption > button > i {
    color: #f17661;
}

.carousel-caption > .btn-light {
    background-color:  #f17661;
    border-color: #f17661;
    color: #fff;
}

.carousel-caption > a {
    color: #f17661;
}

.carousel-caption > a:hover {
    color: #fff;
    text-decoration: none;
}

.carousel-caption > .btn-light:hover {
    background-color: #000000;
    border-color: #f17661;
    color: #f17661;
}

/* --- jumbotron --- */
.jumbotron {
    background-color: #f5f5f5;
    padding-top: 5vh;
    padding-bottom: 0;
    background: url("/static/images/staticimg/background.png");
}

.jumbotron  h1 {
    font-family: 'Brush Script MT';
    align-self: center;
}

.jumbotron img {
    top: 0;
    right: 0;
    width: 200px;
}
   
.jumbotron p {
    font-size: 2vh;
}

/* --- album --- */
#welcome span {
    font-family: 'Brush Script MT';
    font-size: xx-large;
    color : #f17661;
}

#welcome h2 {
    font-family: 'Open Sans';
    font-style: normal;
    color: #202022;
    font-size: x-large;
}

#welcome p {
    font-family: 'Open Sans';
    font-size: small;
    color: #989898;
}

/* --- chefs --- */
#chefsSection {
    background-color: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 40px;
    width: 100%; 
    margin: 0;
}

#chefsSection h2 {
    font-family: 'Open Sans';
    font-style: normal;
    color: #202022;
    font-size: x-large;
    margin-bottom: 10px;;
}

#chefsSection span {
    font-family: 'Brush Script MT';
    font-size: xx-large;
    color : #f17661;
}

#chefs img {
    width: 120px;
    height: auto;
}

#chefs > .col-lg {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.06), 0 0 0 1px rgba(0,0,0,0.1) inset;
    margin: 20px;
    padding: 20px;
}

#chefs p {
    color: #989898;
    font-size: small;
    font-style: oblique;
}
.ratings > .fa-star {
    color: #FFDF00;
}

/* --- foooter --- */
.footer {
    background: url("../images/staticimg/sand.png") #1a1a1a repeat scroll top center;
    margin: 0px auto;
    padding: 20px 0px;
}

.footer h5 {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
}

.footer p, address, a {
    color: #a1a1a1;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

.footer i {
    color: #fff;
}
    
#footer-contact {
    margin-left: 25px;
}
.footer hr {
    border-top: 1px solid #383838;;
    margin: 1px;
}


/*
 *  -- promo.html --
*/

.promo {
    color: #f17661;
    font-size: 7vh;
}

@media screen and (min-width: 1024px){
    #promo {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.promo-col-limit {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

#containerinfo {
    height: 100%;
}

#promo .col-lg:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#promo .btn-primary {
    background-color: #f17661;
    border-color: #f17661;
    padding: 5px;
}


#promo .col-lg {
    margin: 0px;
}

#promo .btn-primary:hover {
    border-color: #f17661;
    color: hsl(9, 84%, 66%);
    background-color: rgba(255, 255, 255, 0.637);
}

#promo .card {
    border: none;
}

.promo-img {
    height: 150px;
    width: 150px;
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
}

.promo-item {
    padding-right: 0px;
    margin: 10px;
}

/* 
 *  -- cart.html --
*/

@media screen and (min-width: 1024px){
    #cart .img-fluid {
        width: 100px
    }
}

#cart {
    background-color: #fff;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

#cart h4 {
    padding-top: 20px;
    padding-bottom: 20px;;
}

#cart .row {
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

#cart .row div {
    margin-top: 10px;
    margin-bottom: 0px;
}

#cart i.fa.fa-trash {
    float: right;
    color: #700303;
    font-size: 1.5rem;
}

#cart i.fa.fa-trash:hover {
    color: #ff0000;
}

.cart-title {
    background-color:#f17661;
    margin-top: 0px;
}

@media screen and (min-width: 767px) {
    .cart-summary-text-align {
        text-align: right;
    }
}

#cart .btn-outline-primary {
    border-color: #f17661;
    color: #f17661;
}

#cart .btn-outline-primary:hover {
    border-color: #f17661;
    background-color: #f17661;
    color: #fff;
    
}

.cart-product-link > h5 {
    font-weight: bold;
    color: #383838;
}

.cart-product-link > p {
    color: #484848;
}

.module {
  width: auto;
  margin: 0 0 1em 0;
  overflow: hidden;
}

.fades {
  position: relative;
  height: 4em; /* exactly three lines */
}
.fades:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
}

/* 
 *  -- checkout.html --
*/

#checkout {
    padding: 20px;
}

#checkout h4 {
    color: #6c757d;
    font-weight: 300;
}

#checkout h6, h5 {
    color: #000000;
    font-weight: lighter;
}

#checkoutForm {
    padding: 20px;
}

#checkoutForm label {
    color: #757575;
}

button.btn.btn-secondary {
    background-color: #f17661;
    border-color: #f17661;
}

button.btn.btn-secondary:hover {
    background-color: #fff;
    border-color: #f17661;
    color: #f17661;
}

#checkoutForm h4 {
    margin-bottom: 20px;
}

#checkoutForm  .col-sm-6 {
    margin-bottom: 5px;
}

.checkout-fades {
   width: 70%;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.checkout-fades:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
}


/*
 * -- Shopping product gallery --
 */

 .bonus {
     background-color: #77e365;
     font-size: 100%;
     color: #fff;
     padding: 5px;
     position: absolute;
     left: 0;
     font-weight: bolder;
     text-shadow: 1px 1px 2px rgba(0,0,0,0.3)
 }

.p-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* after 3 line show ... */
    -webkit-box-orient: vertical;    
}

.product-desc h3>a{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.product-desc p {
    font-size: small;
    color: #6c757d;
}

/* --rating system -- */
.star-rating {
    margin-top: 0px;
}

.star-rating i {
    font-size: small;
    color: #FFDF00;
}

.star-rating > .fa-star-o {
    color: #b8b8b8b8;
}

.rev-rating {
    float: bottom;
}


/* -- price -- */
.price-actual {
    font-size: 20px;
    color: #eb3819;
    margin-left: 3px;
    font-weight: 500;
}

/* -- cart icons */
.cart-options {
    position: absolute;
    bottom: -10px;
}

.cart-options a {  
    color: #fff;
    padding: 0px;
 }

 .cart-options span:hover {
    color: #f17661;
    background-color: #fff;
    border: 1px solid #f17661;
 }

 .cart-options span {
    background: #f17661;
    padding: 7px 10px 7px 10px;   
 }


 /* -- product.html -- */

 #product {
    margin: 0;
 }

 .p-desc {
     margin-top: 10px;
     margin-bottom: 20px;
 }

 #product h1 {
     font-family: Open Sans;
     margin-bottom: 0;
 }

 #product .row {
     margin: 0px;
 }

 .main-img {
     width: 450px;
     padding: 10px;
 }
 
 .sub-img {
     width: 100px;
     margin: 0 0px 10px 10px;
 }

 #reviews {
     margin: 0px;
 }

 #nav-profile textarea{
    height: 100px;
 }

 .review-pic {
    height: 80px;
    width: 80px;
    margin-left: 12px;
    margin-right: 5px;
 }

 .graphical-avg {
     border: 1px solid #dee2e6;
     background-color: #fafafa;
     padding: 20px 0px 20px 15px;
     margin: 10px ;
 }

 .graphical-avg h4>span {
     color: #a1a1a1;
     font-size: smaller;
 }
 
 .graphical-avg .star-rating>i {
     font-size: x-large;
 }

 .rating-breakdown {
    margin-right: 5px;
 }

 .review-date {
     float: right;
     font-size: x-small;
     color: #a1a1a1;
 }

 .review-desc {
     font-style: italic;
     margin-top: 20px;
 }

 .progress {
     margin: 0px;
     height: 5px;
 }

 .progress-bar {
     background-color: #FFDF00;
 }

 .pricing span {
    font-weight: bold;
 }

 .pricing span > del {
     font-weight: normal;
     color: #989898; 
 }

 .quantity {
     width: 50px;
     margin: 3px 0px 3px 5px;
 }

 .pricing .btn-outline-success {
    border-color: #f17661;
    color: #f17661;
 }

 .pricing .btn-outline-success:hover {
    border-color: #f17661;
    background-color: #f17661;
    color: #fff;
 }

 /* -- Alerts -- */

 .alert {
    position: absolute;
    right: 10px;
    z-index: 999;
 }

 .invalid-tooltip, .valid-tooltip {
    position: relative;
    right: 15px;
 }

 /* Rating system */

 .rating-system {
    color: #787878;
 }

 .rating-system .fa-star {
    color: #FDCC0D;
 }

 /* --- profile.html --- */

 .profile-pic {
     width: 150px;
     height: 150px
 }

 .upload-icon {
    position: absolute;
    z-index: 999;
    top: 1.2rem;
    right: 1.2rem;
 }

 .upload-icon:hover {
    color: #383838;
    text-shadow: #545b62 1px 1px 1px;
 }

 .profile-summary {
    font-size: 15px;
    height: 400px;
 }

.align-me p {
     display: table-row;
     align: right;
     font-size: small;
}

.align-me strong {
    display: table-cell;
    padding-right: 1em;
    width: 50%;
}

.align-me span {
    align: right;
}

 .profile-summary h2 {
    font-family: sans-serif;
    margin: 10px 0 10px 0;
    font-size: x-large;
}

.profile-summary strong {

}

.related-links p {
    margin: 0px 0px 1px 0px;
}

.related-links a:hover span {
    padding-right: 25px;
    font-weight: bold;
}

.related-links span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: medium;
    color: #1a1a1a;
    font-weight: lighter;
  }

.related-links a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.related-links a:hover span:after {
    opacity: 1;
    right: 0;
 }

#change-pic-detail {
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

.file-field:hover{
    color: #383838;
    text-shadow: #545b62 1px 1px 2px;
}

.file-field input {
    display: none;
}

.related-content-heading {
    background-color: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 5px;
}

.related-content ul {
    padding-right: 20px;
    list-style-type: none;
}

.related-content li {
    padding: 10px 0px 10px 0px;
    color: #596057;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    border-bottom: 1px solid #ececec;

}

.related-content li a {
    text-decoration: none;
    color: #596057;
}

.related-content li a:hover {
    text-decoration: none;
    color: #f17661;
}

.related-content li a > i {
    margin-right: 10px;
    font-size: 1rem;
}

/* --- order_history.html --- */

caption {
    color: #383838;
}

/* --- order.html --- */

.order-summary td {
    color: #333;
    font-size: 13px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;

}

.order-summary td > a {
    text-decoration: none;
    color: #686868
}

.order-summary td > a:hover {
    color: #000000;

}

.ordered-items td:not(#p_name) {
    text-align: right;
}

/* --- wishlist.html --- */

.wishes {
    color: #212529;
}

.wishes:hover {
    text-decoration: none;
}

.addto-wish .fa-heart {
    color: #ff0000;
}

/* --- review.html --- */

.my-review-action form {
    float: right;
}


/* --- coupon.html --- */

.fa-check-circle {
    color: #70bf2b;
}

.fa-times-circle {
    color: #dd4646;
}

th {
    background: #f6f6f6;
    color: #333;
    font-size: 13px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

tbody, tbody a {
    color: #505050;
    font-size: 12px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}